extends ../layouts/main-layout.pug

block styles 
    link(rel="stylesheet", href="/css/product.css")

block content
    main(style="text-align:center")
        .detail__Sec
            h1 #{product.fisName}
            div
                img.detail__image(src=`${product.fishImage}` alt=`${product.fishName}`)
            h2 Rs.#{product.fishPrice}
            p #{product.fishType}
            p #{product.fishDetail}
            form(action="/FishBag" method="post")
                input(type="hidden" name="productId" value=`${product.id}`)
                button.btn(type="submit") Add to Cart