extends ../layouts/main-layout.pug

block styles 
    link(rel="stylesheet", href="/css/product.css")

block content
    main
        .admin__section
            if prods.length > 0
                .grid
                    each product in prods
                        article.card.product-item
                            div.card__image
                                img(src=`${product.fishImage}`, alt="A Book")
                            header.card__header
                                h1.product__title #{product.fishName}
                            div.card__content
                                p.product__price Rs.#{product.fishPrice}
                                p.product__type #{product.fishType}
                                p.product__description #{product.fishDetail}
                            .card__actions 
                                a.btn(href=`${"/root/updateFish/"+product.id+"?edit=true"}`) Update
                                form(action="/root/deleteFish" method="POST")
                                    input(type="hidden" name="fishId" value=`${product.id}`)
                                    button.btn(type="submit") Remove
            else
                h1 No Fish Found!

